@import '../fonts'
@import '../vars'
@import '../mixins/styles'

.study
  &__title
    +title
    &--white
      color: #fff
  &__text
    +text-basic
    &--white
      color: #fff

  &-service
    &__wrap
      margin-top: 77px
      margin-bottom: 212px
    &__center-pic-wrap
      height: 100%
      vertical-align: center
      img
        width: 100%
        height: auto
    &__col
      &--left
        text-align: right
        @media(max-width: 768px)
          text-align: left
      &--right
        text-align: left

  &-item
    margin: 0 -15px
    padding-left: 15px
    padding-right: 15px
    padding-top: 10px
    padding-bottom: 20px
    &--highlight
      background-color: $active-color
    &__title
      +ff-roboto-light
      font-size: 1.5em
    &__text
      +ff-arial
      font-size: 1em
      line-height: 1.5em
  &-access
    width: 100%
    margin-bottom: 140px
    padding-top: 110px
    padding-bottom: 142px
    background-image: url('../img/foto_demo.jpg')
    background-position: center center
    background-size: cover
    .study__title
      margin-bottom: 20px
    &__col-wrap
      margin-top: 120px
    &__form
      margin-top: 67px
    &__form-input
      width: 100%
      padding: 6px 20px
      margin-bottom: 15px
      text-align: center
    &__button-submit
      margin-top: 37px
      padding-left: 50px
      padding-right: 50px

  &-process
    margin-bottom: 200px
    width: 100%
    &__col-wrap
      width: 100%
      background-image: url('../img/study3.png')
      background-position: 45vw 0%
      background-size: contain
      background-repeat: no-repeat
      @media(max-width: 992px)
        background-image: none
    .study__title
      margin-bottom: 20px

  &-details
    margin-bottom: 160px
    padding-top: 100px
    padding-bottom: 120px
    width: 100%
    background-image: url('../img/foto_statia.jpg')
    background-position: center center
    background-size: cover
    .study__title
      text-align: left
      text-transform: uppercase
      color: #fff
      font-size: 3em
      line-height: 1.1em
    .study__text
      margin-bottom: 60px
      color: #fff
      text-align: left
      font-size: 1.5em
      line-height: 1.5em
    .btn
      padding-left: 100px
      padding-right: 100px

