footer.jumbobox
  .container
    .row.footer_up
      .col-sm-3.col-xs-12.pr-2
        .footer-title
          p #[b © 2013–2019 Автономная некоммерческая организация «Санкт-Петербургский Центр дополнительного профессионального образования» (АНО «СПб ЦДПО»)]
          br
          p При использовании материалов сайта активная ссылка обязательна
      .col-sm-9.hidden-xs
        .row.footer_nav
          .col-xs-11
            nav.row
              .col-xs-3.pr-3
                .footer_nav-header
                  p #[b Меню]
                ul
                  li
                    a(href="https://new.razvitum.ru") Главная
                  li
                    a(href="https://new.razvitum.ru/about/center") О нас
                  li
                    a(href="https://new.razvitum.ru/about/study") Об обучении
                  li
                    a(href="https://new.razvitum.ru/programs") Каталог программ
                  li
                    a(href="https://new.razvitum.ru/contacts") Контакты

              .col-xs-5.pr-3
                .footer_nav-header
                  p #[b Наши проекты]
                ul
                  li
                    a(href="https://platforma.razvitum.ru") #[i.fas.fa-book-open]Бесплатные дистанционные курсы
                  li
                    a(href="https://club.razvitum.ru") Клуб руководителей
                  li
                    a(href="https://zachet.razvitum.ru") Всероссийский зачет по юридической грамотности в сфере государственных закупок

              .col-xs-4.pr-1
                .footer_nav-header
                  p #[b Информация]
                ul
                  li
                    a(href="https://new.razvitum.ru/sveden") Сведения об образовательной организации
                  li
                    a(href="#") #[i.fas.fa-users] Профессиональная солидарность
                  li
                    a(href="#") HR-портал
          .col-xs-1
            .up-arrow
              a.animated-scroll(href="#top", title="Наверх")
                i.fas.fa-2.fa-chevron-circle-up.text-white
    .footer-bottom
      .row
        .col-xs-12.col-md-6
          .footer-social-links
            ul
              li
                span
                  a.btn.btn-lg.btn-soc-enter.vk(href="https://vk.com/obr_razvitum", class="", target="_blank", title="Группа Развитум в Vk.ru") #[i.fab.fa-vk]
              li
                span
                  a.btn.btn-lg.btn-soc-enter.ok(href="https://ok.ru/proektrazvitum", target="_blank", title="Группа Развитум в Ok.ru") #[i.fab.fa-odnoklassniki]
              li
                span
                  a.btn.btn-lg.btn-soc-enter.mailru(href="https://my.mail.ru/community/razvitum/", target="_blank", title="Сообщество Развитум в Mail.ru") #[i.fas.fa-at]
              li
                span
                  a.btn.btn-lg.btn-soc-enter.facebook(href="https://www.facebook.com/razvitum.ru", target="_blank", title="Проект Развитум в Facebook.com") #[i.fab.fa-facebook-f]
              li
                span
                  a.btn.btn-lg.btn-soc-enter.viber(href="https://invite.viber.com/?g2=AQBud0Le5W62zUm4u4v%2FOmYFPqKOZRWaTnmVuC44jjmMwZHYHJRKn1e62hEO8s8m", target="_blank", title="Сообщество Развитум в Viber") #[i.fab.fa-viber]

        .col-xs-12.col-lg-offset-3.col-lg-3.col-md-4.col-md-offset-2.col-sm-10
          .phone
            a(href="tel:88005553069") 8 800 555-30-69
          .call
            p Для звонков по России бесплатно
            a(href="#callOrderModal", data-toggle="modal") Заказать звонок
      .row
        .col-lg-7.col-md-8.col-xs-12
          .footer-links
            ul
              li
                a(href="https://new.razvitum.ru/terms") Пользовательское соглашение
              li
                a(href="https://new.razvitum.ru/privacy") Политика конфиденциальности
              li
                a(href="https://isga.obrnadzor.gov.ru/rlic/details/d034b749-cae8-0d5c-70cb-53426709b289/", target="_blank") Лицензия
          .usage
            //- <!--На сайте используются материалы <a href="#">Freepik</a> и <a href="#">PxHere</a>-->
