//- Стандартный шаблон страницы
//- include mixins.pug

doctype html
html(class='no-js', lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/favicon.ico', rel='shortcut icon')
    link(rel='stylesheet', href='css/vendor.css')
    base(href='https://new.razvitum.ru')
    block head
      link(rel='stylesheet', href='css/front.css')
      //- script.
      //-   document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    block meta
      title Home

  body
    noscript У вас отключен JavaScript. Это пугает.

    include _header.pug

    main
      block content
          p Cодержимое

    include _footer.pug

    block page-bottom
      script(src='js/vendors.min.js')
      script(src='js/bootstrap.js')
      script(src='js/vendors.min.js')
      script(src='js/script.min.js')
