-
  let mySliderDates = [
    [
      "2011",
      "Конкурсы для детей",
      "Организованы конкурсы «Ангел вдохновения», «Уши, ноги и хвосты», конкурс профессионального мастерства«Профи». За пять лет к конкурсной деятельности мы привлекли более 36 000 участников."
    ],
    [
      '2013',
      'Дистанционное обучение',
      'На базе Санкт-Петербургского центра дополнительного профессионального образования разрабатывается платформа для организации обучения.'
    ],
    [
      '2013',
      'Студия для съемок и монтажа видео',
      'Открыта студия на базе Центра. За 5 лет произведено более 1000 часов образовательного видео.'
    ],
    [
      '2013',
      'Первый всероссийский рейтинг',
      'В январе публикуется первый всероссийский рейтинг образовательных учреждений. Победителям высылаются награды, в адрес глав муниципальных образований направляются ходатайства о поощрении лидеров.'
    ],
    [
      '2013',
      'Сайт RAZVITUM зарегистрирован как СМИ',
      'Получено свидетельство о регистрации СМИ. Педагоги публикуют статьи. По состоянию на 2017 год собрано более 300 научно-публицистических материалов.'
    ],
    [
      '2014',
      'Расширение компании',
      'Расширяется организационная структура Центра. Штатная численность сотрудников к концу 2014 года составляет 56 сотрудников, а к 2017 году 96 штатных единиц.'
    ],
    [
      '2014',
      'Эксперты',
      'Сформирована группа экспертов по рецензированию методических разработок и образовательных программ.'
    ],
    [
      '2014',
      'Доступ к учебным материалам',
      'Слушателю предоставляется доступ к учебному материалу в режиме 24/7.'
    ],
    [
      '2015',
      'Первый бесплатный онлайн семинар',
      'Организован первый бесплатный открытый онлайн семинар «Инклюзивное образование сегодня: от теории к практике», который собрал более 14 000 участников.'
    ],
    [
      '2015',
      'Очное повышение квалификации',
      'Реализуется программа очного повышения квалификации для муниципальных и государственных служащих по программе: «Современный руководитель в системе государственного и муниципального управления»'
    ],
    [
      '2016',
      'Автоматизация процессов по работе с клиентами',
      'Работаем над созданием единой базы данных и автоматизированной системы сопровождения клиента с системными уведомлениями о ключевых событиях учебного процесса.'
    ],
    [
      '2016',
      'Программы для здравоохранения',
      'Созданы четыре программы повышения квалификации для работников системы здравоохранения.'
    ],
    [
      '2016',
      'Открытая образовательная платформа ',
      'Разработана собственная дистанционная площадка «platforma.razvitum.ru» для проведения масштабных образовательных мероприятий.'
    ],
    [
      '2016',
      'Отклики слушателей',
      'Организовано масштабное бесплатное образовательное мероприятие по теме ИКТ-компетентность педагога, которое с сентября по декабрь 2016 года собрало 83 833 участников. По итогам было получено 33 310 положительных отзывов участников, более 13 000 в социальных сетях.'
    ],
    [
      '2016',
      'Онлайн аттестация слушателей',
      'Реализована автоматизированная система прохождения итоговой аттестации и экзамена.'
    ],
    [
      '2017',
      'Соответствие требованиям законодательства',
      'Центр успешно, без замечаний, прошёл проверку Рособрнадзора.'
    ],
    [
      '2017',
      'Развитие Центра',
      'Разработана бренд-платформа Центра и утверждена стратегия развития на 2018-2020 гг.'
    ],
    [
      '2018',
      'Разработка CRM',
      'Внедрена разработанная собственными силами система управления внутренними бизнес-процессами, позволяющая значительно сократить себестоимость образовательных услуг и увеличить производительность труда.'
    ],
    [
      '2018',
      'Исследование интересов слушателей',
      'Организован процесс проведения исследований интересов целевой аудитории на постоянной основе. В первом исследовании выборка составила более 10 000 респондентов.'
    ],
    [
      '2019',
      'Ребрендинг',
      'Проведена работа над ребрендингом сервисов и образовательных продуктов Центра. Укомплектован фирменной продукцией конверт клиента с документами об обучении.'
    ],
    [
      '2019',
      'Модульная концепция образовательных программ',
      'Разработана модульная система сборки образовательных программ. Созданы первые программы с учетом утвержденной концепции и обновленным педагогическим дизайном.'
    ],
    [
      '2019',
      'Бесплатные образовательные сервисы',
      'Проведен запуск сервисов с открытым доступом для бесплатного обучения в разных форматах: интерактивный зачет по теме «Государственные закупки в образовательных учреждениях», клуб руководителей образовательных учреждений, образовательный курс «Профессиональные стандарты в эпоху цифровых технологий».'
    ],
    [
      '2020',
      'Перезагрузка',
      'Создан новый сайт с интуитивным интерфейсом и удобным для слушателей личным кабинетом. Обновлена система управления образовательным процессом. За счет ежедневного внутрикорпоративного обучения повышен уровень качества сопровождения клиента на всех этапах взаимодействия.'
    ],
    [
      '2020',
      'Качественная обратная связь',
      'Разработана и внедрена многоуровневая система сбора обратной связи и оценки качества образовательных продуктов.'
    ],
    [
      '2020',
      'Актуализация программ',
      'Проведена работа по актуализации образовательных программ и утвержден план разработки новых образовательных продуктов с учетом современных требований и тенденций в образовании.'
    ],
    [
      '2020',
      'Индивидуальный образовательный маршрут',
      'По итогам работы с фокус-группой, с привлечением представителей целевой аудитории, были разработаны индивидуальные образовательные маршруты для базовых программ в рамках ФГОС. В результате реализованы новые программы с вариативной частью и возможностью выбора образовательных траекторий.'
    ],
  ];