extends ../pug/layout.pug
include ../pug/mixins.pug

block meta
  title АНО СПб ЦДПО - Всероссийский проект Развитум | О нас

block content
  .container.hidden-sm.hidden-xs
    menu.about-menu.row
      a.col-md-3.col-sm-12.col-xs-12.about-menu__item(href="#about-centre") О центре
      a.col-md-3.col-sm-12.col-xs-12.about-menu__item(href="#about-innovations") Стратегия развития
      a.col-md-3.col-sm-12.col-xs-12.about-menu__item(href="#about-history") История
      a.col-md-3.col-sm-12.col-xs-12.about-menu__item(href="#about-facts") Цифры и факты
  section.about-carousel.jumbotron
    .container
      .row
        .about-carouel.carousel.slide(id="carousel-about", data-ride="carousel")
          // индикаторы карусели
          ol.carousel-indicators.hidden-sm.hidden-xs
            li.active(data-ride="carousel-about", data-slide-to="0")
            li(data-ride="carousel-about", data-slide-to="1")
            li(data-ride="carousel-about", data-slide-to="2")
            li(data-ride="carousel-about", data-slide-to="3")
          .carousel-inner(role="listbox")
            .item.active
              img(src="/img/Banner5.jpg", alt="")
            .item
              img(src="/img/Banner6.jpg", alt="")
            .item
              img(src="/img/Banner7.jpg", alt="")
            .item
              img(src="/img/Banner8.jpg", alt="")
          // стрелки карусели
          a.left.carousel-control.about-carousel__btn.about-carousel__btn--left(href="#carousel-about", role="button", data-slide="prev")
            span.about-carousel__arrow--back(aria-hidden="true")
            span.sr-only Previous
          a.right.carousel-control.about-carousel__btn.about-carousel__btn--right(href="#carousel-about", role="button", data-slide="next")
            span.about-carousel__arrow--fow(aria-hidden="true")
            span.sr-only Next

  section.about-centre.container(id="about-centre")
    .row
      .col-xs-12
        h2.about__title О центре
        p.about__text Санкт-Петербургский центр дополнительного профессионального образования учрежден 15 февраля 2013 года, имеет образовательную лицензию. На рынке образовательных услуг Центр реализует программы повышения квалификации и профессиональной переподготовки в дистанционном формате. Наша аудитория — руководители и специалисты системы образования. Ежегодно мы обучаем более 10 000 слушателей по всей России.
        h3.about__subhead Наш подход к реализации образовательных программ:
    .about__list
      .row
        .col-md-2.hidden-sm.hidden-xs
        .col-md-8.col-sm-12.about__list-item.about__list-item--one Мониторинг законодательства и проведение исследований в области профессиональных интересов нашей аудитории;
        .col-md-2.hidden-sm.hidden-xs
      .row
        .col-md-2.hidden-sm.hidden-xs
        .col-md-8.col-sm-12.about__list-item.about__list-item--two Подбор экспертов определенной области знаний, в соответствии с направленностью образовательных программ;
        .col-md-2.hidden-sm.hidden-xs
      .row
        .col-md-2.hidden-sm.hidden-xs
        .col-md-8.col-sm-12.about__list-item.about__list-item--three Наличие внутренней системы контроля качества и внешний аудит образовательных программ.
        .col-md-2.hidden-sm.hidden-xs
    .row
      .col-xs-12
        .quotes
          p.quotes__text Мало кто знает, что наша история началась в&#160;2011&#160;году, с&#160;организации всероссийского конкурса изобразительного искусства «Ангел Вдохновения», по воле случая, как мы любим говорить.

  section.about-docs.container
    .row
      h2.col-xs-12.about__title Устав, лицензии и свидетельства
    .row
      .col-md-8.col-sm-12.col-xs-12
        p.about__text.about__text--docs 25 сентября 2013 года Комитет по образованию Правительства Санкт-Петербурга выдал бессрочную лицензию на осуществление образовательной деятельности Автономной некоммерческой организацией «Санкт-Петербургский центр дополнительного профессионального образования».
        p.about__text.about__text--docs Лицензия предусматривает организацию обучения по программ дополнительного профессионального образования.
        p.about__text.about__text--docs 29 мая 2013 года Федеральная служба по надзору в сфере связи, информационных технологий и массовых коммуникаций выдала свидетельство о регистрации средства массовой информации Razvitum.org.
        p.about__text.about__text--docs Свидетельство предусматривает размещение образовательной, культурно-просветительской, рекламной информации.
        p.about__text.about__text--docs 14 апреля 2017 года Комитетом по образованию города Санкт-Петербурга выдал Акт проверки органом государственного контроля (надзора) юридического лица Автономной некоммерческой организацией «Санкт-Петербургский центр дополнительного профессионального образования».
      .col-md-4.col-sm-12.col-xs-12
        .a.about-docs__list
          a.about-docs__item(href="/docs/akt-proverki.pdf")
            img(src="/docs/akt-proverki_th.png", alt="")
          a.about-docs__item(href="/docs/akt-proverki_th.pdf")
            img(src="/docs/akt-proverki_th.png", alt="")
          a.about-docs__item(href="/docs/license.pdf")
            img(src="/docs/license.png", alt="")
          a.about-docs__item(href="/docs/ustav_th.pdf")
            img(src="/docs/ustav.png", alt="")
    .row
      .col-xs-12
        .quotes
          p.quotes__text Мы ежедневно создаем условия для развития способностей и&#160;профессионального роста, чтобы каждый участник смог проявить себя и&#160;не&#160;статься без внимания для дальнейшего желания идти к&#160;своей мечте.
          p.quotes__text.quotes__text--comment Миссия организация, сформулирована в 2011 г.

  section.about-history.container(id="about-history")
    .row
      .col-xs-12
        h2.about__title Наша история
        p.about__text В феврале 2011 года был основан всероссийский образовательный проект «Razvitum»#[br]и созданы предпосылки для организации Санкт-Петербургского центра#[br]дополнительного профессионального образования
    .row
      .col-xs-12.about-dates-slider
        .about-dates-slider__item
          span.about-dates-slider__year 2011
          h4.about-dates-slider__title Конкурсы для детей
          p.about-dates-slider__text Организованы конкурсы «Ангел вдохновения», «Уши, ноги и хвосты», конкурс профессионального мастерства«Профи». За пять лет к конкурсной деятельности мы привлекли более 36 000 участников.

  section.about-greet
    .container
      .row
        .about-greet__img-wrap.mb-1.col-md-6.col-sm-12.col-xs-12
          img(src="/img/seredenko.jpg", alt="")
        .col-md-6.col-sm-12.col-xs-12
          p.about-greet__text «Да, мы амбициозные перфекционисты, и создаем лучшую образовательную модель для нашего клиента. Такой модели вы не найдете ни в одном другом образовательном центре!
          p.about-greet__text Наши инновационные решения позволяют организовать обучение понятным и логичным, при котором слушателю остается только с удовольствием погрузиться в процесс.
          p.about-greet__text А регулярная работа по исследованию интересов слушателей позволяет обогащать образовательный продукт знаниями, дополняющими картину мира и практическими инструментами, которые можно применять «здесь и сейчас».
          p.about-greet__text Мы хотим стать другом нашему слушателю, помощником на пути саморазвития, личным экспертом в образовании!»
          p.about-greet__text.about-greet__text--name.mt-2 Директор СПБ ЦДПО Середенко М.Ю.
          .about__img-wrap
            img.about-greet__autograph(src="/img/sign2.png", alt="")

  section.about-innovations.container(id="about-innovations")
    .row
      .col-xs-12
        h2.about__title Фокус на инновационные решения
        p.about__text Для нас цифровые технологии — это возможность быть ближе к клиенту.
    .row
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4
        img(src="/img/razvitum-76.png", atl="")
        p Электронный документооборот
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4
        img(src="/img/razvitum-77.png", atl="")
        p Единое окно приема документов
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4
        img(src="/img/razvitum-78.png", atl="")
        p Адаптив под все типы устройств
    .row
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4
        img(src="/img/razvitum-79.png", atl="")
        p Упрощенная регистрация
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4
        img(src="/img/razvitum-83.png", atl="")
        p Интуитивный интерфейс личного кабинета
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4
        img(src="/img/razvitum-84.png", atl="")
        p Умный подбор программ
    .row
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4
        img(src="/img/razvitum-80.png", atl="")
        p Индивидуальный образовательный маршрут
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4
        img(src="/img/razvitum-82.png", atl="")
        p Интерактивный образовательный контент
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4
        img(src="/img/razvitum-75.png", atl="")
        p Учебная статистика и прогресс

  section.about-facts(id="about-facts")
    .container
      .row
        .col-xs-12
          h2.about__title Цифры и факты
    .about-facts__wrap.jumbotron

  block script
    script.
      $('#carousel-active').carousel();
