extends ../pug/layout.pug
include ../pug/mixins.pug

block meta
  title АНО СПб ЦДПО - Всероссийский проект Развитум | О нас

block content
  .container
    menu.about-menu.row
      a.col-md-3.col-sm-12.col-xs-12.about-menu__item(href="#about-centre") О центре
      a.col-md-3.col-sm-12.col-xs-12.about-menu__item(href="#about-innovations") Стратегия развития
      a.col-md-3.col-sm-12.col-xs-12.about-menu__item(href="#about-history") История
      a.col-md-3.col-sm-12.col-xs-12.about-menu__item(href="#about-facts") Цифры и факты
  section.about-carousel.jumbotron
    .container
      .row
  section.about-centre.container(id="about-centre")
    .row
      .col-xs-12
        h2.about__title О центре
        p.about__text Санкт-Петербургский центр дополнительного профессионального образования учрежден 15 февраля 2013 года, имеет образовательную лицензию. На рынке образовательных услуг Центр реализует программы повышения квалификации и профессиональной переподготовки в дистанционном формате. Наша аудитория — руководители и специалисты системы образования. Ежегодно мы обучаем более 10 000 слушателей по всей России.
        h3.about__subhead Наш подход к реализации образовательных программ:
        ul.about__list
          li.about__list-item Мониторинг законодательства и проведение исследований в области профессиональных интересов нашей аудитории;
          li.about__list-item Подбор экспертов определенной области знаний, в соответствии с направленностью образовательных программ;
          li.about__list-item Наличие внутренней системы контроля качества и внешний аудит образовательных программ.
    .row
      .col-xs-12.about__banner
        p.about__banner-text Мало кто знает, что наша история началась в 2011 году, с организации всероссийского конкурса изобразительного искусства «Ангел Вдохновения», по воле случая, как мы любим говорить.

  section.about-docs.container
    .row
      h2.col-xs-12.about__title Устав, лицензии и свидетельства
    .row
      .col-md-8.col-sm-12.col-xs-12
        p.about__text.about__text--docs 25 сентября 2013 года Комитет по образованию Правительства Санкт-Петербурга выдал бессрочную лицензию на осуществление образовательной деятельности Автономной некоммерческой организацией «Санкт-Петербургский центр дополнительного профессионального образования».
        p.about__text.about__text--docs Лицензия предусматривает организацию обучения по программ дополнительного профессионального образования.
        p.about__text.about__text--docs 29 мая 2013 года Федеральная служба по надзору в сфере связи, информационных технологий и массовых коммуникаций выдала свидетельство о регистрации средства массовой информации Razvitum.org.
        p.about__text.about__text--docs Свидетельство предусматривает размещение образовательной, культурно-просветительской, рекламной информации.
        p.about__text.about__text--docs 14 апреля 2017 года Комитетом по образованию города Санкт-Петербурга выдал Акт проверки органом государственного контроля (надзора) юридического лица Автономной некоммерческой организацией «Санкт-Петербургский центр дополнительного профессионального образования».
      .col-md-4.col-sm-12.col-xs-12

    .row
      .col-xs-12.about__banner
        p.about__banner-text Мы ежедневно создаем условия для развития способностей и профессионального роста, чтобы каждый участник смог проявить себя и не остаться без внимания для дальнейшего желания идти к своей мечте.
        p.about__banner-text Миссия организация, сформулирована в 2011 г.

  section.about-history.container(id="about-history")
    .row
      .col-xs-12
        h2.about__title Наша история
        p.about__text В феврале 2011 года был основан всероссийский образовательный проект «Razvitum» и созданы предпосылки для организации Санкт-Петербургского центра дополнительного профессионального образования
    .row
      .col-xs-12.about-dates-slider
        .about-dates-slider__item
          span.about-dates-slider__year 2011
          h4.about-dates-slider__title Конкурсы для детей
          p.about-dates-slider__text Организованы конкурсы «Ангел вдохновения», «Уши, ноги и хвосты», конкурс профессионального мастерства«Профи». За пять лет к конкурсной деятельности мы привлекли более 36 000 участников.

  section.about-quote.jumbotron
    .container
      .row
        .about-quote__img-wrap.col-md-6.col-sm-12.col-xs-12
          img(src="")
        .col-md-6.col-sm-12.col-xs-12
          p.about-quote__text «Да, мы амбициозные перфекционисты, и создаем лучшую образовательную модель для нашего клиента. Такой модели вы не найдете ни в одном другом образовательном центре!
          p.about-quote__text Наши инновационные решения позволяют организовать обучение понятным и логичным, при котором слушателю остается только с удовольствием погрузиться в процесс.
          p.about-quote__text А регулярная работа по исследованию интересов слушателей позволяет обогащать образовательный продукт знаниями, дополняющими картину мира и практическими инструментами, которые можно применять «здесь и сейчас».
          p.about-quote__text Мы хотим стать другом нашему слушателю, помощником на пути саморазвития, личным экспертом в образовании!»
          p.about-quote__text Директор СПБ ЦДПО Середенко М.Ю.

  section.about-innovations.container(id="about-innovations")
    .row
      .col-xs-12
        h2.about__title Фокус на инновационные решения
        p.about__text Для нас цифровые технологии — это возможность быть ближе к клиенту.
    .row
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4         Электронный документооборот
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4         Единое окно приема документов
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4         Адаптив под все типы устройств
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4         Упрощенная регистрация
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4         Интуитивный интерфейс личного кабинета
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4         Умный подбор программ
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4         Индивидуальный образовательный маршрут
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4 Интерактивный образовательный контент
      .about-innovations__item.col-xs-12.col-sm-12.col-md-4 Учебная статистика и прогресс

  section.about-facts(id="about-facts")


