extends ../pug/layout.pug
include ../pug/mixins.pug

block meta
  title АНО СПб ЦДПО - Всероссийский проект Развитум | Матриалы – Новости

block content
  .container.main--margin-top
    .row
      .col-md-12.col-md


    +head-with-links("Список разделов")
  +section-list
