extends ../pug/layout.pug
include ../pug/mixins.pug

block meta
  title АНО СПб ЦДПО - Всероссийский проект Развитум

block content
  // main banner
  section.main-banner
    .main-banner__first-row
      .container
        .row
          h3.col-lg-12.main-banner__title Эксперт в образовании
          p.col-lg-8.col-md-12.main-banner__text Дистанционные курсы повышения квалификации и&#160;программы переподготовки для работников образования
        .row.main-banner__statistic.hidden-xs
          .col-lg-3.col-md-6.col-sm-12
            .main-banner__stat-item.main-banner__stat-item--people #[span 15 806] слушателей
          .col-lg-3.col-md-6.col-sm-12
            .main-banner__stat-item.main-banner__stat-item--coin Цена от #[span 900] р.
          .col-lg-3.col-md-6.col-sm-12
            .main-banner__stat-item.main-banner__stat-item--building С #[span 2013] года с вами
          .col-lg-3.col-md-6.col-sm-12
            .main-banner__stat-item.main-banner__stat-item--percent Программа лояльности
    .main-banner__info
      .container
        .row
          a.col-md-4.col-sm-12.main-banner__info-item.main-banner__info-item--licence(href="#")
            h4 Государственная лицензия
            p на осуществление образовательной деятельности № 0681 от 25.09.-4013
          a.col-md-4.col-sm-12.main-banner__info-item.main-banner__info-item--official(href="#")
            h4 Официальные сведения
            p Сведения об образовательной организации. Результаты проверки Рособрнадзора
          a.col-md-4.col-sm-12.main-banner__info-item.main-banner__info-item--free(href="#")
            h4 Бесплатное обучение
            p Достойный выбор бесплатных курсов с выдачей сертификата участника

  // Статьи. Верхний блок
  section.article-prevs-block.container
    .row.article-prevs-block__1st-line
      article.col-xs-12.col-sm-6.col-md-8.article-prev.aritcle__prev--main
        .article-prev__img-wrap.article-prev__img-wrap--main
          img.img-fluid(src="/img/article_photo.png", alt="")
        a.article-prev__tag.article-prev__tag--main(href="#") Новости
        a.article-prev__link(href="#")
          h3.article-prev__title.article-prev__title--main Яндекс.Учебники и РАО создадут хартию о цифровой образовательной среде
        p.article-prev__text.article-prev__text--main Яндекс.Учебник и Российская академия образования совместно с учителями, родителями и экспертами разработают хартию о цифровой образовательной среде школы.
        +statistic

      // Форма подписки
      .col-xs-12.col-sm-6.col-md-4
        form.subscribe(action="#", method="POST")
          fieldset.form-group
            legend.subscribe__legend #[span Мы Вам понравились?] Подпишитесь
            label.sr-only(for="lastname") Фамилия
            input.form-control.subscribe__input(type="text", id="lastname", placeholder="Фамилия")
            label.sr-only(for="firstname") Имя
            input.form-control.subscribe__input(type="text", id="firstname", placeholder="Имя")
            label.sr-only(for="patronymic") Отчество
            input.form-control.subscribe__input(type="text", id="patronymic", placeholder="Отчество")
            label.sr-only(for="firstname") e-mail
            input.form-control.subscribe__input(type="email", id="email", placeholder="Ваш e-mail адрес")
            .subscribe__check
              input.subscribe__checkbox(type="checkbox", id="freqcheck")
              label.subscribe__check-label(for="freqcheck") Не более 1 письма в неделю
          button.btn.btn-primary.subscribe__btn(type="submit") Подписаться
    .row
      article.article-prev.col-md-4
        a.article-prev__img-wrap
          img(src="/img/prev_01.png", alt="")
        a.article-prev__tag(href="#") Новости
        a.article-prev__link(href="#")
          h3.article-prev__title Главные новости цифрового образования
        p.article-prev__text В еженедельном дайджесте мы рассказываем о самом важном, что случилось с цифровым образованием в России и в мире за последнюю неделю.
        +statistic

      article.article-prev.col-md-4
        .article-prev__img-wrap
          img(src="/img/prev_02.png", alt="")
        a.article-prev__tag(href="#") Образование
        a.article-prev__link(href="#")
          h3.article-prev__title Образовательное пространство России&#160;— это 70 лет консерватизма
        p.article-prev__text Союз дизайнеров России, Московский Архитектурный институт и компания «Сетевые исследования» объявили конкурс проектов по дизайну образовательного пространства российских университетов.
        +statistic

      article.article-prev.col-md-4
        .article-prev__img-wrap
          img(src="/img/prev_03.png", alt="")
        a.article-prev__tag(href="#") Инновации
        a.article-prev__link(href="#")
          h3.article-prev__title Открыт прием заявок на конкурс иноваций в образовании
        p.article-prev__text С 1 апреля по 19 мая EdTech-стартапы могут подать заявки на участие в Конкурсе инноваций в образовании (КИвО). Прошедших первичный отбор ждет летний акселератор и открытый финал в Москве.
        +statistic

  // Анонс мероприятий
  section.announcement
    .container
      .row
        h2.col-md-12.announcement__title Анонс мероприятий
      .row
        .announcement__item.col-md-4
          .announcement__date
            .announcement__day 25
            .announcement__month февраля
          a.announcement__text(href="#") Четвёртая встреча «Клуба руководителей»
        .announcement__item.col-md-4(href="#")
          .announcement__date
            .announcement__day 01
            .announcement__month сентября
          a.announcement__text(href="#") Седьмой поток на бесплатных дистанционных курсах для работников образования
        .announcement__item.col-md-4(href="#")
          .announcement__date
            .announcement__day 01
            .announcement__month июля
          a.announcement__text(href="#") Старт продаж программы «Государственный контроль в образовательном учреждении»

  // Видео-интервью
  section.article-prev.article-prev--video-interview.container
    .row
      .col-md-12.section-head
        hr.section-head__line
        a.section-head__all-articles-link.section-head__all-articles-link--title(href="#")
          h2.section-head__title Видео-интервью
        a.section-head__all-articles-link.hidden-xs(href="#") Все статьи раздела >>

    .row
      article.article-prev.col-md-4
        .article-prev__img-wrap
          img(src="/img/vid_01.png", alt="")
        a.article-prev__tag(href="#") Видео-интервью
        a.article-prev__link(href="#")
          h3.article-prev__title 5 правил личностного роста
        p.article-prev__text
        +statistic

      article.article-prev.col-md-4
        .article-prev__img-wrap
          img(src="/img/vid_02.png", alt="")
        a.article-prev__tag(href="#") Видео-интервью
        a.article-prev__link(href="#")
          h3.article-prev__title Первый урок. Как подготовиться и не волноваться
        p.article-prev__text
        +statistic

      article.article-prev.col-md-4
        .article-prev__img-wrap
          img(src="/img/vid_03.png", alt="")
        a.article-prev__tag(href="#") Видео-интервью
        a.article-prev__link(href="#")
          h3.article-prev__title Мотивационные приема поддержки молодых специалистов в школе
        p.article-prev__text
        +statistic

  // Новости
  section.article-prev.article-prev--news.container
    .row
      .col-md-12.section-head
        hr.section-head__line
        a.section-head__all-articles-link.section-head__all-articles-link--title(href="#")
          h2.section-head__title Новости
        a.section-head__all-articles-link.hidden-xs(href="#") Все статьи раздела >>

    .row
      article.article-prev.col-md-4
        .article-prev__img-wrap
          img(src="/img/news_01.png", alt="")
        a.article-prev__tag(href="#") Новости
        a.article-prev__link(href="#")
          h3.article-prev__title Яндекс.Учебники и РАО создадут хартию о цифровой образовательной среде
        p.article-prev__text Яндекс.Учебник и Российская академия образования совместно с учителями, родителями и экспертами разработают хартию о цифровой образовательной среде школы.
        +statistic

      article.article-prev.col-md-4
        .article-prev__img-wrap
          img(src="/img/news_02.png", alt="")
        a.article-prev__tag(href="#") Новости
        a.article-prev__link(href="#")
          h3.article-prev__title Главные новости цифрового образовании
        p.article-prev__text В еженедельном дайджесте мы рассказываем о самом важном, что случилось с цифровым образованием в России и в мире за последнюю неделю.
        +statistic

      article.article-prev.col-md-4
        .article-prev__img-wrap
          img(src="/img/news_03.png", alt="")
        a.article-prev__tag(href="#") Новости
        a.article-prev__link(href="#")
          h3.article-prev__title 10 тезисов книги «Другая школа»
        p.article-prev__text Современная школа больше не работает — с этих слов начинается книга Александра Мурашева «Другая школа».
        +statistic

  // Научные статьи
  section.article-prev.article-prev--science.container
    .row
      .col-md-12.section-head
        .section-head__line
        a.section-head__all-articles-link.section-head__all-articles-link--title(href="#")
          h2.section-head__title Научные статьи
        a.section-head__all-articles-link.hidden-xs(href="#") Все статьи раздела >>

    .row
      article.article-prev.col-md-4
        .article-prev__img-wrap
          img(src="/img/sci_01.png", alt="")
        a.article-prev__tag(href="#") ИКТ
        a.article-prev__link(href="#")
          h3.article-prev__title Киберленинка выложит в открытый доступ 40 тысяч статей из журналов РАН
        p.article-prev__text Онлайн-библиотека научной литературы КиберЛенинка заключила договор с Институтом научной информации по общественным наукам РАН. В течение двух месяцев ИНИОН разместит свои журналы в открытом доступе.
        +statistic

      article.article-prev.col-md-4
        .article-prev__img-wrap
          img(src="/img/sci_02.png", alt="")
        a.article-prev__tag(href="#") Педагогика
        a.article-prev__link(href="#")
          h3.article-prev__title Минпросвещения утвердило новую концепцию преподавания технологии
        p.article-prev__text Если верить новой концепции преподавания уроков технологии, шитье фартуков и сборка табуретов останутся в прошлом.
        +statistic

      article.article-prev.col-md-4
        .article-prev__img-wrap
          img(src="/img/sci_03.png", alt="")
        a.article-prev__tag(href="#") Образование
        a.article-prev__link(href="#")
          h3.article-prev__title Яндекс проведет конференцию о технологиях в математическом образовании
        p.article-prev__text Как повысить качество математического образования с помощью исследований? 18–21 марта 2019 года Яндекс и Международное общество исследователей в области психологии математического образования (PME) проведут масштабную конференцию «Психология и технологии в математическом образовании».
        +statistic

  // FAQ
  section.faq.container
    .row
      - var Arr=['ИКТ', 'Педагогика', 'Выступления', 'Сборник', 'Технологии', 'Мастер-класс', 'Читаем', 'Лайфхаки-учителя']
        each item in Arr
          .faq__section.col-md-3.col-sm-6.col-xs-12
            a.faq__tag(href="#") #{item}#[span >>]
            .faq__item
              a.faq__quest Вы предоставляете рассрочку?
              +statistic
            .faq__item.hidden-xs
              a.faq__quest Как оплачивать обучение?
              +statistic
      - ;
  // Инструкции
  section.article-prev.article-prev--science.container
    .row
      .col-md-12.section-head
        hr.section-head__line
        a.section-head__all-articles-link.section-head__all-articles-link--title(href="#")
          h2.section-head__title Инструкции
        a.section-head__all-articles-link.hidden-xs(href="#") Все статьи раздела >>

    .row
      article.article-prev.col-md-4
        .article-prev__img-wrap
          img(src="/img/inst_01.png", alt="")
        a.article-prev__tag(href="#") Инструкции
        a.article-prev__link(href="#")
          h3.article-prev__title Запустилась бесплатная онлайн-платформа с курсами повышения квалификации для учителей
        p.article-prev__text Минпросвещения и Рособрсоюз запустили Национальную электронную платформу педагогического образования (НЭППО), на которой учителя смогут пройти курсы повышения квалификации и научиться разрабатывать свои онлайн-курсы.
        +statistic

      article.article-prev.col-md-4
        .article-prev__img-wrap
          img(src="/img/inst_02.png", alt="")
        a.article-prev__tag(href="#") Инструкции
        a.article-prev__link(href="#")
          h3.article-prev__title Открыт прием заявок на конкурс практик внутриклассного оценивания
        p.article-prev__text До 15 апреля 2019 можно подать заявку на конкурс «Практики внутриклассного оценивания-2019». Победители получат денежные гранты и возможность выступить с докладом на международном симпозиуме в Болгарии.
        +statistic

  // Список разделов
  section.section-list.container
    .row
      .col-md-12.section-list__group
        a.section-list__item(href="#") Новости
        a.section-list__item(href="#") Научные статьи
        a.section-list__item(href="#") Инструкции
        a.section-list__item(href="#") Технология
      .col-md-12.section-list__group
        a.section-list__item.section-list__item--2nd(href="#") Образование
        a.section-list__item.section-list__item--2nd(href="#") ИКТ
        a.section-list__item.section-list__item--2nd(href="#") Выступления
        a.section-list__item.section-list__item--2nd(href="#") Сборник
