extends ../pug/layout.pug
include ../pug/mixins.pug

block meta
  title АНО СПб ЦДПО - Всероссийский проект Развитум

block content
  // заголовок (только на xs)
  p.visible-xs.text-center.mv-2.head-logo
    a(href="/")
      img(src="img/logo.svg", onerror="this.onerror=null; this.src='img/logo.png';", alt="Razvitum Logo")
    span Санкт-Петербургский центр#[br]дополнительного профессионального образования#[br]
      span ОБРАЗОВАТЕЛЬНЫЙ ПРОЕКТ RAZVITUM

  // main banner
  section.main-banner
    .jumbotron.main-banner__first-row
      .container
        .row
          h3.col-xs-12.col-lg-12.main-banner__title Эксперт в образовании
          p.col-lg-8.col-md-12.main-banner__text Дистанционные курсы повышения квалификации и&#160;программы переподготовки для работников образования
        .row.main-banner__statistic.hidden-xs
          .col-lg-3.col-md-6.col-sm-12
            .main-banner__stat-item.main-banner__stat-item--people #[span 15 806] слушателей
          .col-lg-3.col-md-6.col-sm-12
            .main-banner__stat-item.main-banner__stat-item--coin Цена от #[span 900] р.
          .col-lg-3.col-md-6.col-sm-12
            .main-banner__stat-item.main-banner__stat-item--building С #[span 2013] года с вами
          .col-lg-3.col-md-6.col-sm-12
            .main-banner__stat-item.main-banner__stat-item--percent Программа лояльности
    .main-banner__info
      .container
        .row
          a.col-md-4.col-sm-12.main-banner__info-item.main-banner__info-item--licence(href="#")
            h4 Государственная лицензия
            p на осуществление образовательной деятельности № 0681 от 25.09.-4013
          a.col-md-4.col-sm-12.main-banner__info-item.main-banner__info-item--official(href="#")
            h4 Официальные сведения
            p Сведения об образовательной организации. Результаты проверки Рособрнадзора
          a.col-md-4.col-sm-12.main-banner__info-item.main-banner__info-item--free(href="#")
            h4 Бесплатное обучение
            p Достойный выбор бесплатных курсов с выдачей сертификата участника

  // Статьи. Верхний блок
  section.article-prevs-block.container
    .row.article-prevs-block__1st-line

      article.col-xs-12.col-sm-12.col-md-8.article-1st
        .article-1st__wrap
          //- a.article-1st__tag(href="#") Новости
          a.article-1st__link(href="#")
            h3.article-1st__title Яндекс.Учебники и РАО создадут хартию о цифровой образовательной среде
          p.article-1st__text Яндекс.Учебник и Российская академия образования совместно с учителями, родителями и экспертами разработают хартию о цифровой образовательной среде школы.
          +statistic(class="article-1st__statistic")

      // Форма подписки
      .col-xs-12.col-sm-12.col-md-4
        form.subscribe(action="#", method="POST")
          fieldset.form-group
            legend.subscribe__legend #[span Мы Вам понравились?] Подпишитесь
            label.sr-only(for="lastname") Фамилия
            input.form-control.subscribe__input(type="text", id="lastname", placeholder="Фамилия")
            label.sr-only(for="firstname") Имя
            input.form-control.subscribe__input(type="text", id="firstname", placeholder="Имя")
            label.sr-only(for="patronymic") Отчество
            input.form-control.subscribe__input(type="text", id="patronymic", placeholder="Отчество")
            label.sr-only(for="firstname") e-mail
            input.form-control.subscribe__input(type="email", id="email", placeholder="Ваш e-mail адрес")
            .subscribe__check
              input.subscribe__checkbox.subscribe__checkbox--fa(type="checkbox", id="freqcheck")
              label.subscribe__check-label(for="freqcheck") Не более 1 письма в неделю
          button.btn.btn-primary.subscribe__btn(type="submit") #[span.fas.fa-envelope.fa-lg] Подписаться
    .row
      +article__prev({
        title: 'Главные новости цифрового образования',
        img: "/img/prev_01.png",
        tag: "Новости",
        text: 'В еженедельном дайджесте мы рассказываем о самом важном, что случилось с цифровым образованием в России и в мире за последнюю неделю.'
        })(class="col-md-4")
      +article__prev({
        title: `Образовательное пространство России&#160;— это 70 лет консерватизма`,
        img: "/img/prev_02.png",
        tag: "Образование",
        text: "Союз дизайнеров России, Московский Архитектурный институт и компания «Сетевые исследования» объявили конкурс проектов по дизайну образовательного пространства российских университетов."
        })(class="col-md-4")
      +article__prev({
        title: "Открыт прием заявок на конкурс иноваций в образовании",
        img: "/img/prev_03.png",
        tag: "Инновации",
        text: "С 1 апреля по 19 мая EdTech-стартапы могут подать заявки на участие в Конкурсе инноваций в образовании (КИвО). Прошедших первичный отбор ждет летний акселератор и открытый финал в Москве."
        })(class="col-md-4")

  // Анонс мероприятий
  section.announcement
    .container
      .row
        h2.col-md-12.announcement__title Анонс мероприятий
      .row
        .announcement__item.col-md-4
          .announcement__date
            .announcement__day 25
            .announcement__month февраля
          a.announcement__text(href="#") Четвёртая встреча «Клуба руководителей»
        .announcement__item.col-md-4(href="#")
          .announcement__date
            .announcement__day 01
            .announcement__month сентября
          a.announcement__text(href="#") Седьмой поток на бесплатных дистанционных курсах для работников образования
        .announcement__item.col-md-4(href="#")
          .announcement__date
            .announcement__day 01
            .announcement__month июля
          a.announcement__text(href="#") Старт продаж программы «Государственный контроль в образовательном учреждении»

  // Видео-интервью
  section.article-prev.article-prev--video-interview.container
    .row
      .col-md-12.section-head
        hr.section-head__line
        a.section-head__all-articles-link.section-head__all-articles-link--title(href="#")
          h2.section-head__title Видео-интервью
        a.section-head__all-articles-link.hidden-xs(href="#") Все статьи раздела >>

    .row
      +article__prev({
        title: "5 правил личностного роста",
        img: "/img/vid_01.png",
        tag: "Видео-интервью",
        })(class="col-md-4")

      +article__prev({
        title: "Первый урок. Как подготовиться и не волноваться",
        img: "/img/vid_02.png",
        tag: "Видео-интервью",
        })(class="col-md-4")
      +article__prev({
        title: "Мотивационные приема поддержки молодых специалистов в школе",
        img: "/img/vid_03.png",
        tag: "Видео-интервью",
        })(class="col-md-4")

  // Новости
  section.article-prev.article-prev--news.container
    .row
      .col-md-12.section-head
        hr.section-head__line
        a.section-head__all-articles-link.section-head__all-articles-link--title(href="#")
          h2.section-head__title Новости
        a.section-head__all-articles-link.hidden-xs(href="#") Все статьи раздела >>

    .row
      +article__prev({
        title: "Яндекс.Учебники и РАО создадут хартию о цифровой образовательной среде",
        img: "/img/news_01.png",
        tag: "Новости",
        text: "Яндекс.Учебник и Российская академия образования совместно с учителями, родителями и экспертами разработают хартию о цифровой образовательной среде школы."
        })(class="col-md-4")
      +article__prev({
        title: "Главные новости цифрового образовании",
        img: "/img/news_02.png",
        tag: "Новости",
        text: "В еженедельном дайджесте мы рассказываем о самом важном, что случилось с цифровым образованием в России и в мире за последнюю неделю."
        })(class="col-md-4")
      +article__prev({
        title: "10 тезисов книги «Другая школа»",
        img: "/img/news_03.png",
        tag: "Новости",
        text: "Современная школа больше не работает — с этих слов начинается книга Александра Мурашева «Другая школа»."
        })(class="col-md-4")

  // Научные статьи
  section.article-prev.article-prev--science.container
    .row
      .col-md-12.section-head
        .section-head__line
        a.section-head__all-articles-link.section-head__all-articles-link--title(href="#")
          h2.section-head__title Научные статьи
        a.section-head__all-articles-link.hidden-xs(href="#") Все статьи раздела >>

    .row
      +article__prev({
        title: "Киберленинка выложит в открытый доступ 40 тысяч статей из журналов РАН",
        img: "/img/sci_01.png",
        tag: "ИКТ",
        text: "Онлайн-библиотека научной литературы КиберЛенинка заключила договор с Институтом научной информации по общественным наукам РАН. В течение двух месяцев ИНИОН разместит свои журналы в открытом доступе."
        })(class="col-md-4")
      +article__prev({
        title: "Минпросвещения утвердило новую концепцию преподавания технологии",
        img: "/img/sci_02.png",
        tag: "Педагогика",
        text: "Если верить новой концепции преподавания уроков технологии, шитье фартуков и сборка табуретов останутся в прошлом."
        })(class="col-md-4")
      +article__prev({
        title: "Яндекс проведет конференцию о технологиях в математическом образовании",
        img: "/img/sci_03.png",
        tag: "Образование",
        text: "Как повысить качество математического образования с помощью исследований? 18–21 марта 2019 года Яндекс и Международное общество исследователей в области психологии математического образования (PME) проведут масштабную конференцию «Психология и технологии в математическом образовании»."
        })(class="col-md-4")

  // FAQ
  section.faq.container
    .row
      - var Arr=['ИКТ', 'Педагогика', 'Выступления', 'Сборник', 'Технологии', 'Мастер-класс', 'Читаем', 'Лайфхаки-учителя']
        each item in Arr
          .faq__section.col-md-3.col-sm-6.col-xs-12
            a.faq__tag(href="#") #{item}#[span >>]
            .faq__item
              a.faq__quest Вы предоставляете рассрочку?
              +statistic
            .faq__item.hidden-xs
              a.faq__quest Как оплачивать обучение?
              +statistic
      - ;
  // Инструкции
  section.article-prev.article-prev--science.container
    .row
      .col-md-12.section-head
        hr.section-head__line
        a.section-head__all-articles-link.section-head__all-articles-link--title(href="#")
          h2.section-head__title Инструкции
        a.section-head__all-articles-link.hidden-xs(href="#") Все статьи раздела >>

    .row
      +article__prev({
        title: "Запустилась бесплатная онлайн-платформа с курсами повышения квалификации для учителей",
        img: "/img/inst_01.png",
        tag: "Инструкции",
        text: "Минпросвещения и Рособрсоюз запустили Национальную электронную платформу педагогического образования (НЭППО), на которой учителя смогут пройти курсы повышения квалификации и научиться разрабатывать свои онлайн-курсы."
        })(class="col-md-4")
      +article__prev({
        title: "Открыт прием заявок на конкурс практик внутриклассного оценивания",
        img: "/img/inst_02.png",
        tag: "Инструкции",
        text: "До 15 апреля 2019 можно подать заявку на конкурс «Практики внутриклассного оценивания-2019». Победители получат денежные гранты и возможность выступить с докладом на международном симпозиуме в Болгарии."
        })(class="col-md-4")

  //- Список разделов
  +section-list()
