extends ../pug/layout.pug
include ../pug/mixins.pug

block meta
  title АНО СПб ЦДПО - Всероссийский проект Развитум | Матриалы – Новости

block content
  .container
    .row
      +article__prev({
        title: "Яндекс.Учебники и РАО создадут хартию о цифровой образовательной среде",
        img: '/img/news_01.png',
        tag: "Новости",
        text: "Яндекс.Учебник и Российская академия образования совместно с учителями, родителями и экспертами разработают хартию о цифровой образовательной среде школы."
        })
      +article__prev({
        title: "Главные новости цифрового образования",
        img: '/img/news_02.png',
        tag: "Новости",
        text: "В еженедельном дайджесте мы рассказываем о самом важном, что случилось с цифровым образованием в России и в мире за последнюю неделю."
        })
      +article__prev({
        title: "10 тезисов книги «Другая школа»",
        img: '/img/news_03.png',
        tag: "Новости",
        text: "Современная школа больше не работает — с этих слов начинается книга Александра Мурашева «Другая школа»."
        })
    .row
      +article__prev({
        title: "Запустилась бесплатная онлайн-платформа с курсами повышения квалификации для учителей",
        img: '/img/inst_01.png',
        tag: "Новости",
        text: "Минпросвещения и Рособрсоюз запустили Национальную электронную платформу педагогического образования (НЭППО), на которой учителя смогут пройти курсы повышения квалификации и научиться разрабатывать свои онлайн-курсы."
        })
