@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/roboto-regular.eot");
  src: url("/fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-regular.woff") format("woff"), url("/fonts/roboto-regular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoBold";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/roboto-bold.eot");
  src: url("/fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-bold.woff") format("woff"), url("/fonts/roboto-bold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoLight";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/Roboto-Light.eot");
  src: url("/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Light.woff") format("woff"), url("/fonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Font Awesome 5 Free";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("../webfonts/fa-regular-400.eot");
  src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"); }

@font-face {
  font-family: "Font Awesome 5 Solid";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("../webfonts/fa-solid-400.eot");
  src: url("../webfonts/fa-solid-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-400.woff") format("woff"), url("../webfonts/fa-solid-400.ttf") format("truetype"); }

@font-face {
  font-family: "Font Awesome 5 Brand";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("../webfonts/fa-brands-400.eot");
  src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"); }

@font-face {
  font-family: "Glyphicons Halflings";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"); }

.article__img-wrap {
  width: 100%; }
  .article__img-wrap img {
    width: 100%;
    height: auto; }

.article__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 20px; }

.article__tag {
  margin-right: 50px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-weight: 700;
  color: #ccc;
  font-size: 1em; }
  .article__tag:hover, .article__tag:visited {
    color: #ccc;
    cursor: pointer; }

.article__title {
  margin-top: 28px;
  margin-bottom: 44px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 2.25em;
  text-align: left; }

.article__text {
  margin: 0 0 6px 0;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.75em;
  color: #333;
  text-align: center;
  text-align: left; }

.article-interest__title {
  margin: 0 0 25px 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #a3d3e5; }

.article-interest > .article-prev {
  margin-bottom: 70px; }

.share__declaration {
  margin: 70px 0 40px 0;
  padding: 40px;
  border: 2px dashed #1422aa; }
  .share__declaration p {
    margin: 0;
    padding: 0;
    font-size: 1.125em;
    line-height: 1.33em;
    text-align: center;
    color: #333; }

.share__send {
  margin-top: 70px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.25em;
  color: #333; }
  .share__send span {
    color: #1422aa; }
  .share__send--unautorized {
    display: block; }
  .share__send--autorized {
    display: none; }

.share__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1em;
  color: #ccc; }

.share__btn {
  padding-left: 30px;
  padding-top: 9px;
  background-color: #fff;
  border: 1px solid #1422aa;
  color: #1422aa;
  font-size: 1em; }
  .share__btn i {
    top: 5px;
    position: relative;
    padding-right: 7px; }
  .share__btn:hover {
    background-color: #1422aa;
    color: #fff; }

.share__form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 25px 0; }

.share__email-input {
  margin: 0 25px;
  padding: 10px 25px;
  width: 360px;
  max-width: 360px; }

.share__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 75px;
  margin-bottom: 50px; }

.check-list {
  margin-top: 400px;
  padding: 0 54px;
  position: relative; }
  .check-list:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/spritePNG.png);
    background-position: -95px -88px;
    width: 28px;
    height: 36px;
    top: 0;
    left: 0; }
  .check-list h4 {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
    text-align: left; }
  .check-list p {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
    text-align: left; }
  .check-list__controls {
    color: #999;
    font-size: 1em; }

/*# sourceMappingURL=article.css.map */
