// Общие стили элементов страницы

.main
  &--margin-top
    margin-top: 40px

// кнопка для слабовидящих
.rs-btn
  margin-top: 11px
  display: block
  color: #fff
  opacity: 1
  cursor: pointer

.page
  &__title
    align-self: baseline
    margin-top: 50px
    margin-bottom: 40px
    +ff-arial-bold
    font-size: 1.5em
    color: $accent
  &__title-wrap
    display: flex
    flex-direction: row
    justify-content: auto
    align-items: baseline
    flex-wrap: wrap
    // align-content: flex-end

.breadcrumbs
  display: flex
  color: $lightgray
  +ff-arial
  &__link
    display: inline-block
    font-size: 1em
    color: $lightgray
    text-decoration: none
    &:hover
      color: $lightgray
    &:visited
      color: $lightgray
  &__divider
    margin-left: 5px
    margin-right: 5px
    font-size: 1em
    color: $lightgray
    text-decoration: none

.stat
  border: none
  background: none
  &__item
    margin-right: 1em
    font-size: 0.75em
    color: $lightgray
  &--article .stat__item
    margin-right: 2em
    font-size: 1em

.auth-reg
  +ff-arial
  font-style: italic
  font-size: 1em
  &__item
    display: inline-block
    margin: 0
    padding: 0
    background-color: rgba(255, 255, 255, 0)
    border: none
    outline: 0
    cursor: pointer
    text-decoration: underline
    &:hover
      color: $accent
  &__divider
    margin-left: 5px
    margin-right: 5px
    font-size: 1em
    color: $lightgray
    text-decoration: none

.display-filter
  align-self: baseline
  +ff-arial
  font-size: 1em
  text-align: right
  color: $lightgray
  &__item
    display: inline-block
    margin: 0 0 0 18px
    padding: 0
    background-color: rgba(255, 255, 255, 0)
    border: none
    outline: 0
    cursor: pointer
    &:hover
      text-decoration: underline
    &--active
      color: $active-color
      cursor: default
      &:hover
        text-decoration: none

.quotes
  position: relative
  margin: 55px 0 35px 0
  padding: 120px 75px
  border: 2px solid $accent
  @media(max-width: 700px)
    padding: 100px 30px 50px 30px
  &:before
    content: '“'
    display: block
    position: absolute
    top: 0px
    left: 50%
    text-align: center
    font-size: 100px
    position: absolute
    color: $accent
  &__text
    +ff-roboto-light
    text-align: center
    font-size: 1.875em
    line-height: 1.2em
    color: $headgray
    @media(max-width: 700px)
      font-size: 1.125em
    &--comment
      margin-top: 35px
      margin-bottom: -50px
      +ff-arial
      font-size: 1.125em


